USE [master]
GO
/****** Object:  Database [QA_Db]    Script Date: 7/12/2024 1:00:11 AM ******/
CREATE DATABASE [QA_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QA_Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QA_Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QA_Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QA_Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QA_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QA_Db]
GO
/****** Object:  User [rasel]    Script Date: 7/12/2024 1:00:11 AM ******/
CREATE USER [rasel] FOR LOGIN [rasel] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [rasel]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 7/12/2024 1:00:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[AnswerText] [nvarchar](max) NOT NULL,
	[CodeSnippet] [nvarchar](max) NULL,
	[MakeByUserID] [int] NOT NULL,
	[MakeDate] [smalldatetime] NOT NULL,
	[AnswerAcceptedBy] [nvarchar](255) NULL,
	[AcceptedDate] [smalldatetime] NULL,
 CONSTRAINT [PK__Answers__D48250243684F29D] PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[ErrorLogId] [int] IDENTITY(1,1) NOT NULL,
	[ErrorScreenName] [varchar](100) NULL,
	[ErrorDescription] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[MakeDate] [smalldatetime] NOT NULL,
	[MakeByUserID] [int] NOT NULL,
	[CodeSnippet] [nvarchar](max) NULL,
 CONSTRAINT [PK__Question__0DC06F8C106E0E30] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](200) NULL,
	[RegistrationDate] [smalldatetime] NULL,
 CONSTRAINT [PK__Users__1788CCAC72B6CDB4] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK__Answers__Questio__123EB7A3] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK__Answers__Questio__123EB7A3]
GO
/****** Object:  StoredProcedure [dbo].[CheckUniqueEmail]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckUniqueEmail]
    @Email NVARCHAR(50)
AS
BEGIN
    SELECT 1
    FROM Users
    WHERE Email = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[CheckUniqueUsername]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckUniqueUsername]
    @Username NVARCHAR(50)
AS
BEGIN
    SELECT 1
    FROM Users
    WHERE UserName = @Username
END
GO
/****** Object:  StoredProcedure [dbo].[InsErrorLog]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsErrorLog]

@EventRaiseSceen VARCHAR(100),
@ErrorDescription VARCHAR(MAX)

AS

INSERT INTO ErrorLog(ErrorScreenName,ErrorDescription)
VALUES(@EventRaiseSceen, @ErrorDescription);
GO
/****** Object:  StoredProcedure [dbo].[SaveUser]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveUser]
@UserName NVARCHAR(200),
@EMail NVARCHAR(100),
@Password NVARCHAR(50)
AS
INSERT INTO Users(UserName, Email, Password)
VALUES(@UserName,@EMail, @Password);

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAnsByQuesId]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAnsByQuesId]
@QuestionID INT 
AS
BEGIN
	SELECT 
        a.AnswerID,
        a.QuestionID,
        a.AnswerText,
        a.CodeSnippet,
        u.UserName,
        a.MakeDate,
        
        ISNULL(AnswerAcceptedBy, '') AS AnswerAcceptedBy,
        ISNULL(AcceptedDate, '1900-01-01') AS AcceptedDate 
    FROM 
        Answers a
	INNER JOIN Users u ON a.MakeByUserID = u.UserID
    WHERE 
        QuestionID = @QuestionID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategories]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCategories]
AS
SELECT * FROM Categories;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuesById]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetQuesById]
@QuestionID INT 
AS

SELECT q.QuestionID, q.Category, q.Title, q.QuestionText,
ISNULL(q.CodeSnippet, '') AS CodeSnippet,
u.UserName,
q.MakeDate
FROM Questions q
INNER JOIN Users u on q.MakeByUserID = u.UserID
WHERE q.QuestionID = @QuestionID;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuestionList]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetQuestionList]
AS
SELECT 
    q.QuestionID, 
    q.Category, 
    q.Title, 
    q.QuestionText, 
    q.CodeSnippet, 
    u.UserName,
    q.MakeDate,
    (SELECT COUNT(*) FROM Answers a WHERE a.QuestionID = q.QuestionID) AS AnswerCount
FROM 
    Questions q
INNER JOIN 
    Users u ON q.MakeByUserID = u.UserID
ORDER BY 
    q.QuestionID DESC
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUser]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUser]

@UserName NVARCHAR(100),
@Password NVARCHAR(100)
AS 
SELECT UserID, UserName, Password FROM Users
WHERE UserName = @UserName AND Password = @Password

GO
/****** Object:  StoredProcedure [dbo].[sp_SaveAnswer]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaveAnswer]
	@QuestionID INT,
	@AnswerText NVARCHAR(MAX),
    @CodeSnippet NVARCHAR(MAX),
    @MakeByUserID INT,
    @MakeDate SMALLDATETIME,
	@AnswerAcceptedBy NVARCHAR(100)=NULL,
	@AcceptedDate SMALLDATETIME = NULL

	AS
	BEGIN
		INSERT INTO Answers(QuestionID, AnswerText, CodeSnippet, MakeByUserID, MakeDate, AnswerAcceptedBy, AcceptedDate)
		VALUES(@QuestionID, @AnswerText, @CodeSnippet, @MakeByUserID, @MakeDate,  @AnswerAcceptedBy,@AcceptedDate);
	END


GO
/****** Object:  StoredProcedure [dbo].[sp_SaveQuestion]    Script Date: 7/12/2024 1:00:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaveQuestion]
	@Title NVARCHAR(500),
    @Category NVARCHAR(100),
    @QuestionText NVARCHAR(MAX),
    @MakeByUserID INT,
    @MakeDate SMALLDATETIME,
	@CodeSnippet NVARCHAR(MAX)

	AS
	BEGIN
		INSERT INTO Questions(Title, Category, QuestionText, MakeByUserID, MakeDate, CodeSnippet)
		VALUES(@Title, UPPER(@Category), @QuestionText, @MakeByUserID, @MakeDate,  @CodeSnippet);
	END
GO
USE [master]
GO
