
@{
    ViewData["Title"] = "Details";
}
<script>
    $(document).ready(function () {
        QuestionAnswerController.LstQuestion();
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-12" id="questionDetails">

        </div>
    </div>
</div>

