
@{
    ViewData["Title"] = "Details";
    int questionID = ViewBag.quesID;
}

<script>
    $(document).ready(function () {
        QuestionController.LoadQuestionDetail(@questionID);
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-12" id="questionDetail">
            Ekhane asce
        </div>
    </div>
</div>