@{
    ViewData["Title"] = "Questions";
}

<script>
    $(document).ready(function () {
        QuestionController.LstQuestions();
    });
</script>

<div class="container">
    <div class="row" id="questionContainer"></div>
</div>
