<script>
    $(document).ready(function () {
        QuestionController.LstQuestion();
    });
</script>


<div class="container">
    
    <div class="row" id="questionContainer">

    </div>
</div>
